<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Log In Page</title>
  <link rel="icon" type="image/png" href="https://d2cy1obokpvee9.cloudfront.net/manifest/favicon-196x196.png" sizes="196x196" class="next-head">
  
  <style>
      html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  input[type=text], select {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    
    display: inline-block;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=password], select {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    align-self:center;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  
  header {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #33154F;
    color: #11D771;
    margin-bottom: 30px;
  }
  
  .buttons {
    text-align: center;
  }
  
  button {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #fff;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
  }
  
  button:hover {
    outline: 0;
  }
  
  .trigger-push {
    background-color: #073525;
    border: 1px solid #073525;
  }
  </style>
</head>
<body>
  <header>
    <h1>Log In</h1>
  </header>
  <form action="/auth/signin" method="POST">
  <center>  <input type="text" id="email"  name="email" placeholder="Your Email Id" value="parth123@gmail.com"></center><br>

   <center> <input type="password" id="password" name="password" placeholder="Your Password" value="parth123"></center>
    
   <div class="buttons">
    <button class="trigger-push" type="submit">Log In</button>
  </div>
  </form>

  

 
</body>
</html>